{% extends 'base.html' %}

{% block content %}
<br><br>

<div class="text text-center">
    <br><br>
        <div class="column">
            <div class="row center" style="width: 45%">
                <style>
                    .center {
                    margin: auto;
                    width: 60%;
                    padding: 10px;
                    }
                </style>
            <h3>Godziny pracy</h3><br>
                <br>
            <div class="column" style="width: 45%">
                <h5>Poniedziałek</h5>
                <h5>Wtorek</h5>
                <h5>Środa</h5>
                <h5>Czwartek</h5>
                <h5>Piątek</h5>
                <h5>Sobota</h5>
                <h5>Niedziela</h5>
            </div>
            <div class="column" style="width:55%">
                <h5>12:00 – 22:00</h5>
                <h5>12:00 – 22:00</h5>
                <h5>12:00 – 22:00</h5>
                <h5>12:00 – 22:00</h5>
                <h5>12:00 – 22:00</h5>
                <h5>12:00 – 22:00</h5>
                <h5>12:00 – 22:00</h5>
            </div>
        </div>
        </div>
    </div>
<div class="text-center">
    <br><br><br>
    <h5><strong>Jelenia Gora, 1 Maya 37</strong></h5>
    <br>
    <h5>telefon: <strong>+48 788 608 806</strong></h5>
    <h5>email: <strong>info@ttconsulting.com.pl</strong></h5>
</div>
<br><br><br>
{% endblock %}