{% extends 'base.html' %}

{% block content %}
<br><br>

<div class="text text-center">
    <br><br>
        <div class="column">
            <div class="row center" style="width: 65%">
                <style>
                    .center {
                    margin: auto;
                    width: 70%;
                    padding: 10px;
                    }
                </style>
                <h3><strong>Na węnglu</strong></h3>
                <h4>rodzinna restauracja</h4>
                <br><br><br>

            <div class="column" style="width:100%">
                <br>
                <h5>od poniedziałku do czwartku</h5>
                <h5>od 12:00 do 22:00</h5>
                <br>
                <h5>Jelenia Góra, 1 Maya 37</h5>
                <h5>telefon: +48 XXX XXX XXX</h5>
            </div>
        </div>
        </div>
    </div>
<div class="text-center">
    <br><br><br>
    <h5><strong>Jesteśmy zawsze gotowi na Twoją wizytę!</strong></h5>
</div>
<br><br><br>
{% endblock %}